* text=auto !eol
/.classpath -text
/.project -text
/README.txt -text
/VERSION.txt -text
/base_build.properties -text
/build.xml -text
/build_common_targets.xml -text
conf/capacity-scheduler.xml -text
conf/cloudbase-site.xml -text
conf/cloudbase.properties -text
conf/configuration.xsl -text
conf/core-site.xml -text
conf/hadoop-env.sh -text
conf/hadoop-metrics.properties -text
conf/hdfs-site.xml -text
conf/log4j.xml -text
conf/mapred-site.xml -text
conf/masters -text
conf/slaves -text
conf/sql.properties -text
conf/sslinfo.xml.example -text
/default_build.properties -text
docs/Copyright -text
docs/ExternalContrib -text
lib/cloudbase-core-1.2.0.jar -text
lib/cloudbase-server-1.2.0.jar -text
lib/cloudbase-start-1.2.0.jar -text
lib/commons-collections-3.2.jar -text
lib/commons-configuration-1.5.jar -text
lib/commons-io-1.4.jar -text
lib/commons-lang-2.4.jar -text
lib/commons-logging-1.0.4.jar -text
lib/hadoop-0.20.2-core.jar -text
lib/hadoop-0.20.2-tools.jar -text
lib/json.jar -text
lib/ll-octave4j-1.0.jar -text
lib/log4j-1.2.15.jar -text
lib/slf4j-api-1.6.1.jar -text
lib/slf4j-log4j12-1.6.1.jar -text
lib/thrift-0.2.jar -text
lib/zookeeper-3.2.2.jar -text
scripts/StartStopIntallCloudbase_README.txt -text
scripts/adduser.sh -text
scripts/clean_cloudbase.sh -text
scripts/clean_hadoop.sh -text
scripts/cloudbase_instance_processor.sh -text
scripts/createtable.sh -text
scripts/d4m_list_tables.sh -text
scripts/d4m_query.sh -text
scripts/diffex.sh -text
scripts/grant-sys-permission.sh -text
scripts/grant-tab-permission.sh -text
scripts/install_cb_hd_local.sh -text
scripts/load_d4m.sh -text
scripts/load_d4m_w-args.sh -text
scripts/remove_cb_hd_local.sh -text
scripts/set-classpath.sh -text
scripts/setenv.sh -text
scripts/start_all.sh -text
scripts/start_cb_hd_local.sh -text
scripts/start_cloudbase.sh -text
scripts/start_hadoop.sh -text
scripts/start_zookeeper.sh -text
scripts/stop_all.sh -text
scripts/stop_cb_hd_local.sh -text
scripts/stop_cloudbase.sh -text
scripts/stop_hadoop.sh -text
scripts/stop_zookeeper.sh -text
scripts/test_monitor.sh -text
scripts/test_scanner.sh -text
scripts/test_tabsplit.sh -text
src/edu/mit/ll/cloud/connection/CloudbaseConnection.java -text
src/edu/mit/ll/cloud/connection/CloudbaseProperties.java -text
src/edu/mit/ll/cloud/connection/ConnectionProperties.java -text
src/edu/mit/ll/d4m/db/cloud/D4mCbSecurityOperations.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbInfo.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbInsert.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbQuery.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbResultSet.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbRow.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbTableOperations.java -text
src/edu/mit/ll/d4m/db/cloud/util/AddUser.java -text
src/edu/mit/ll/d4m/db/cloud/util/GrantSystemPermission.java -text
src/edu/mit/ll/sql/connection/SQLConnection.java -text
src/edu/mit/ll/sql/connection/SQLProperties.java -text
src/edu/mit/ll/sql/connection/sql.properties -text
test/edu/mit/ll/d4m/db/cloud/TestCRUD.java -text
test/edu/mit/ll/d4m/db/cloud/TestMonitor.java -text
test/edu/mit/ll/d4m/db/cloud/TestScanner.java -text
test/edu/mit/ll/d4m/db/cloud/TestTableSplit.java -text
