<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE log4j:configuration SYSTEM "/org/apache/log4j/xml/log4j.dtd">-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
    <!--xmlns:log4j="http://jakarta.apache.org/log4j/"-->
    <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
    <!--xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">-->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{DATE} %p - %C{1}.%M(%L) -  %m%n"/>
        </layout>
    </appender>

    <!-- A Simple File Appender -->
    <appender name="FlatFile" class="org.apache.log4j.FileAppender">
      <param name="File" value="./logs/d4m.log" />
      <param name="BufferedIO" value="true"/>
      <param name="Threshold" value="ERROR" />

      <!-- Setting the value of Append to true (the default) will append  -->
      <!-- logging to the end of an existing log file.  If Append is false, -->
      <!-- any existing file is overwritten, only new events are logged. -->
      <param name="Append" value="FALSE" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{DATE} %-5p [%t] %c - %n\t\t%m%n" />
      </layout>
    </appender>
    <!--  Rolling file appender -->
    <appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="./logs/d4m.log" />
      <param name="Threshold" value="ERROR" />
      <param name="MaxFileSize" value="100MB"/>
      <param name="MaxBackupIndex" value="10"/>
      <!-- Setting the value of Append to true (the default) will append  -->
      <!-- logging to the end of an existing log file.  If Append is false, -->
      <!-- any existing file is overwritten, only new events are logged. -->
      <param name="Append" value="FALSE" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{DATE} %-5p [%t] %c - %n\t\t%m%n" />
      </layout>
    </appender>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.zookeeper">
        <level value="WARN"/>
    </logger>


    <logger name="edu.mit.ll.d4m" >  
        <level value="WARN" />
    </logger>

  
 
    <root>
       <level value="WARN"/>
       <appender-ref ref="RollingFile"/>
       <appender-ref ref="CONSOLE"/> 
    </root>

</log4j:configuration>
